.productContainer {
  cursor: pointer;
  .productImageBox {
    width: 269px;
    height: 300px;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px;

    .productImage {
      width: 150%;
      position: relative;
      right: 50px;
      top: 30px;
      transform: scale(1);
      -webkit-transform: scale(1);
      transition: all 0.2s ease-in-out;
      overflow: hidden;
    }

    .productImage:hover {
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
    }
  }
  .productSummeryBox {
    padding: 0 10px 0 10px;
    margin: 10px 10px 10px 10px;

    .productSeller {
      font-size: 11px;
      color: #757575;
      margin: 15px 0 5px 0;
    }

    .productTitle {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      width: 249px;
      height: auto;
      margin-bottom: 5px;
      font-size: 14px;
      line-height: 18px;
    }

    .productTitle:hover {
      color: gray;
    }

    .productPriceBox {
      display: flex;
      font-size: 17px;
      margin-bottom: 5px;

      .productSale {
        font-weight: 700;
        color: #35c5f0;
        margin-right: 6px;
      }

      .productPrice {
        font-weight: 700;
      }
    }

    .productPointBox {
      display: flex;
      align-items: flex-end;

      .productPoint {
        display: flex;
        align-items: flex-end;
        font-size: 13px;
        font-weight: 600;
        color: #161616;

        .productPointImage {
          width: 15px;
          margin-right: 3px;
        }
      }
      .productReview {
        font-size: 13px;
        font-weight: 600;
        color: rgb(138, 138, 138);
        margin-left: 5px;
      }
    }

    .labelBox {
      display: flex;
      align-items: center;
      margin-top: 5px;

      .freeIcon {
        height: 19px;
        margin-right: 5px;
      }

      .lowPriceIcon {
        height: 19px;
      }
    }
  }
}
