.Category {
  display: flex;
  justify-content: center;
  margin-top: 110px;

  .asidContainer {
    width: 289px;
    transition: width 2s;

    .listBox {
      width: 160px;
      margin: 0 0 0 10px;
    }
  }

  .feedContainer {
    width: 867px;

    .bannerbar {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
    }
  }
}
