.categoryContainer {
  display: flex;
  justify-content: center;
  margin-top: 37px;

  .categoryAsidContainer {
    width: 289px;
    transition: width 2s;

    .categoryListBox {
      width: 160px;
      margin: 0 0 0 10px;

      .categoryOtherListBox {
        .categoryList {
          margin: 0 0 19px 0;
          font-size: 21px;
          font-weight: 700;
        }
      }
      .categoryListTitle {
        .categoryTitleName {
          margin: 0 0 19px 0;
          font-size: 21px;
          font-weight: 700;
        }

        .categorySubTitle {
          padding: 0 0 14px 0;
          margin: 28px 0 28px 0;
          font-size: 14px;
          font-weight: 400;
          line-height: 23px;
          border-bottom: 1px solid rgb(216, 216, 216);
          cursor: pointer;

          .categorySubTitleMenubox {
            display: flex;
            flex-direction: column;
            height: auto;

            .categorySubTitleMenuAndButton {
              display: flex;
              justify-content: space-between;
              align-items: center;
              flex-direction: row;
              width: 100%;
              height: auto;
              margin-bottom: 10px;

              .categorySubTitleList {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
              }

              .categorySubTitleList:hover {
                opacity: 50%;
                cursor: pointer;
              }

              .categorySubTitleButtonBox {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 20px;

                .showButtonBox {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 100%;

                  .showButton {
                    width: 10px;
                  }
                }
              }
            }
            .suSubTitleListBox {
              max-height: 0;
              overflow: hidden;
              display: flex;
              align-items: flex-start;
              flex-direction: column;

              .categorySusubTitleList {
                margin-left: 10px;
                margin-bottom: 10px;
                font-weight: 400;
              }

              .categorySusubTitleList:hover {
                opacity: 50%;
                cursor: pointer;
                font-weight: 700;
              }
            }
          }
        }
      }
    }
  }

  .categoryFeedContainer {
    width: 867px;

    .categoryBannerbar {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;

      .categoryBannerTitle {
        width: 847px;
        margin-bottom: 20px;

        .categoryBannerTitletext {
          font-size: 16px;
          line-height: 18px;
        }
      }
      .categoryBannerImageBox {
        position: relative;
        width: 847px;

        .categoryBannerImage {
          width: 100%;
        }

        .leftArrowIcon {
          position: absolute;
          top: 100px;
          left: -23px;
          width: 45px;
        }

        .rightArrowIcon {
          position: absolute;
          top: 100px;
          right: -23px;
          width: 45px;
        }

        .leftArrowIcon:hover {
          opacity: 0%;
        }

        .rightArrowIcon:hover {
          opacity: 0%;
        }
      }
      .productFilterButtonBox {
        display: flex;
        width: 867px;
        margin: 20px 0 0 0px;
        padding: 0 10px 0 10px;

        .productFilterButtons {
          margin: 3px;

          .productFilterButton {
            display: flex;
            align-items: center;
            height: 35px;
            border: 1px solid rgb(206, 206, 206);
            border-radius: 4px;
            color: rgb(66, 66, 66);
            font-size: 15px;
            padding: 5px 10px 5px 10px;

            .filterButton {
              width: 10px;
              margin-left: 5px;
            }
          }
        }
      }

      .productInfoBox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 867px;
        height: 30px;
        padding-top: 40px;
        margin-bottom: 7px;
        color: rgb(71, 71, 71);
        font-size: 15px;

        .productCountBox {
          display: flex;
          justify-content: center;
          width: 90px;

          .poductCount {
            margin: 0 0 0 5px;
          }
        }
        .popularSerch {
          display: flex;
          align-items: center;
          width: 65px;

          .serchBoxIcon {
            width: 10px;
            margin-left: 5px;
          }
        }
      }

      .productList {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 867px;

        .productContainer {
          cursor: pointer;
          .productImageBox {
            width: 269px;
            height: 300px;
            border-radius: 5px;
            overflow: hidden;
            margin: 10px;

            .productImage {
              width: 100%;
              transform: scale(1);
              -webkit-transform: scale(1);
              transition: all 0.2s ease-in-out;
              overflow: hidden;
            }

            .productImage:hover {
              transform: scale(1.1);
              -webkit-transform: scale(1.1);
            }
          }
          .productSummeryBox {
            padding: 0 10px 0 10px;
            margin: 10px 10px 10px 10px;

            .productSeller {
              font-size: 11px;
              color: #757575;
              margin: 15px 0 5px 0;
            }

            .productTitle {
              display: flex;
              align-items: center;
              flex-wrap: wrap;
              width: 249px;
              height: auto;
              margin-bottom: 5px;
              font-size: 14px;
              line-height: 18px;
            }

            .productTitle:hover {
              color: gray;
            }

            .productPriceBox {
              display: flex;
              font-size: 17px;
              margin-bottom: 5px;

              .productSale {
                font-weight: 700;
                color: #35c5f0;
                margin-right: 6px;
              }

              .productPrice {
                font-weight: 700;
              }
            }

            .productPointBox {
              display: flex;
              align-items: flex-end;

              .productPoint {
                display: flex;
                align-items: flex-end;
                font-size: 13px;
                font-weight: 600;
                color: #161616;

                .productPointImage {
                  width: 15px;
                  margin-right: 3px;
                }
              }
              .productReview {
                font-size: 13px;
                font-weight: 600;
                color: rgb(138, 138, 138);
                margin-left: 5px;
              }
            }

            .labelBox {
              display: flex;
              align-items: center;
              margin-top: 5px;

              .freeIcon {
                height: 19px;
                margin-right: 5px;
              }

              .lowPriceIcon {
                height: 19px;
              }
            }
          }
        }
      }
      .mdPickTextBox {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        width: 867px;
        padding: 0 10px 0 10px;
        margin: 65px 0 10px 0;

        .mdPickText {
          font-size: 18px;
          font-weight: 700;
          color: rgb(63, 63, 63);
        }
      }
      .smallProductList {
        display: flex;
        width: 867px;
        overflow-y: auto;

        .smallProductContainer {
          cursor: pointer;
          .smallProductImageBox {
            width: 153px;
            height: 153px;
            margin: 10px;
            border-radius: 5px;
            overflow: hidden;

            .productImage {
              width: 100%;
              transform: scale(1);
              -webkit-transform: scale(1);
              transition: all 0.2s ease-in-out;
              overflow: hidden;
            }
            .productImage:hover {
              transform: scale(1.1);
              -webkit-transform: scale(1.1);
            }
          }

          .smallProductSummeryBox {
            padding: 0 10px 0 10px;
            margin: 10px 0 10px 0;

            .smallProductSeller {
              font-size: 11px;
              color: #757575;
              margin: 15px 0 5px 0;
            }
            .smallProductTitle {
              display: flex;
              align-items: center;
              flex-wrap: wrap;
              width: 153px;
              height: auto;
              margin-bottom: 5px;
              font-size: 14px;
              line-height: 18px;
            }

            .smallProductTitle:hover {
              color: gray;
            }

            .smallProductPriceBox {
              display: flex;
              font-size: 17px;
              margin-bottom: 5px;

              .smallProductSale {
                font-weight: 700;
                color: #35c5f0;
                margin-right: 6px;
              }

              .smallProductPrice {
                font-weight: 700;
              }
            }

            .smallProductPointBox {
              display: flex;
              align-items: flex-end;

              .smallProductPoint {
                display: flex;
                align-items: flex-end;
                font-size: 13px;
                font-weight: 600;
                color: #161616;

                .smallProductPointImage {
                  width: 15px;
                  margin-right: 3px;
                }
              }
              .smallProductReview {
                font-size: 13px;
                font-weight: 600;
                color: rgb(138, 138, 138);
                margin-left: 5px;
              }
            }
            .smallProductLabelBox {
              display: flex;
              align-items: center;
              margin-top: 5px;
              .smallProductFreeIcon {
                height: 19px;
                margin-right: 5px;
              }

              .smallProductLowPriceIcon {
                height: 19px;
              }
            }
          }
        }
      }
    }
  }
}

.changeColorEvent {
  color: RGB(55, 197, 239);
  font-weight: 700;
}

.moveDropEvent {
  animation: dropMove 1s 0.1s ease-in;
  animation-fill-mode: both;
}
.moveCloseEvent {
  animation: closeMove 1s ease-in;
  animation-fill-mode: both;
}

@keyframes dropMove {
  from {
    max-height: 0px;
  }
  to {
    max-height: 500px;
  }
}

@keyframes closeMove {
  from {
    max-height: 500px;
  }
  to {
    max-height: 0px;
  }
}
