.pinWrap {
  display: flex;
  flex-direction: column;
  &:hover {
    transition-property: all;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
    transition-delay: 1s;
  }
}
