@import "./Reply.scss";
%displayCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
%borderset {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.FeedDetail {
  margin-top: 80px;
  border-top: 1px solid rgb(224, 224, 224);
  @extend %displayCenter;
  width: 100%;

  .container {
    display: flex;
    justify-content: center;
    width: 1155px;

    .feedLeft {
      width: 767px;
      margin-right: 35px;

      .feedLetfArticle {
        .feedHeader {
          display: flex;
          justify-content: space-between;
          margin: 40px 0 30px;
          font-size: 15px;
          line-height: 21px;

          .headerLeft {
            color: #757575;
          }
        }

        .feedImageWrap {
          @extend %displayCenter;
          width: 767px;

          img {
            width: 100%;
          }
        }

        .furnitureWrap {
          display: flex;
          align-items: center;
          width: 767px;
          margin: 10px 0 35px 0;
          overflow-x: scroll;

          .furnitureList {
            display: flex;

            .furniture {
              @extend %displayCenter;
              width: 100px;
              height: 100px;
              margin: 7px 7px;
              @extend %borderset;
              border-radius: 30px;

              a {
                .furnitureLink {
                  width: 100px;
                  height: 100px;

                  img {
                    width: 100%;
                    height: 100%;
                    border-radius: 30px;
                  }
                }
              }
            }
          }
        }

        .feedPostWrite {
          margin: 35px 0;
        }

        .feedHashTags {
          color: blue;
        }

        .views {
          margin-top: 50px;
          color: rgba(0, 0, 0, 0.5);
          font-size: 14px;

          span {
            margin-right: 5px;
          }

          button {
            border: none;
            background-color: white;
            color: rgba(0, 0, 0, 0.5);
          }
        }
      }

      .feedReplyWrap {
        margin: 60px 0;
        padding: 60px 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);

        .feedReplyHeader {
          font-size: 20px;
          font-weight: 600;

          .feedReplyHeaderCount {
            color: rgba(64, 151, 246, 0.5);
          }
        }

        .replyTypingForm {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 10px 0;
          width: 750px;

          .feedReplyProfile {
            width: 40px;
            height: 40px;

            .feedReplyUser {
              width: 30px;
              height: 30px;
              border-radius: 50%;
            }
          }

          .feedReplyInput {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 12px 0;

            @extend %borderset;
            border-radius: 10px;

            input {
              width: 90%;
              margin: 0px 10;
              border: none;
            }

            button {
              width: 10%;
              border: none;
              color: rgb(64, 151, 246);
            }
          }
        }
        .feedReplyList {
          display: flex;
          flex-direction: column-reverse;
        }
      }
    }

    .feedRight {
      display: block;
      width: 300px;
      margin-left: 20px;
      padding-left: 40px;
      border-left: 1px solid #ededed;

      .rightSideBar {
        padding: 40px 0;

        .feedLikes {
          display: flex;
          justify-content: space-between;
          margin-bottom: 40px;

          img {
            width: 23px;
          }

          button {
            width: 145px;
            height: 50px;
            margin: 0px 4px;
            border: none;
            border-radius: 5px;
            background-color: rgba(0, 0, 0, 0.03);
          }
        }

        .feedUserProfile {
          display: flex;
          justify-content: space-between;
          align-items: center;

          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
          }

          .UserProfileWriter {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 305px;
            padding-left: 10px;
            font-size: 16px;
            font-weight: 700;

            button {
              width: 30%;
              height: 30px;
              margin: 5px 0;
              border-radius: 5px;
              font-size: 12px;
              background-color: rgba(64, 151, 246, 0.8);
              color: white;
            }
          }
        }

        .pictureTable {
          margin: 20px 0px;
        }
      }
    }
  }
}
