.Reply {
  .ReplyList {
    display: flex;
    flex-direction: column-reverse;
    margin: 10px 0;

    .ReplyContent {
      .ReplyText {
        display: flex;
        align-items: center;

        .ReplyUserName {
          display: flex;
          align-items: center;
          margin: 5px 5px 0 0;
          // position: relative;

          .ReplyUserProfile {
            width: 35px;
            height: 35px;
            margin: 5px;
            border-radius: 50%;
            // position: absolute;
            // right: 70px;
            // bottom: -20px;
          }

          .ReplyUserId {
            color: rgba(0, 0, 0, 0.8);
            font-weight: 600;
            margin-left: 5px;
          }
        }

        .ReplyPostText {
          display: flex;
          padding-top: 2px;
          font-size: 15px;
          color: rgba(0, 0, 0, 0.67);
          font-weight: 500;
        }
      }

      .ReplyFooter {
        font-size: 11px;
        color: rgba(0, 0, 0, 0.5);
        padding-left: 45px;

        .ReplyFooterTime {
          margin-right: 5px;
        }

        button {
          margin: 0 10px;
          font-weight: 600;
          font-size: 13px;
          color: rgba(0, 0, 0, 0.6);
        }

        .ReplyLike {
          margin: 0 5px;
          border: none;
          background-color: white;

          .likeHeartIcon {
            margin-top: 10px;
          }
        }
      }
    }
  }

  .hide {
    display: none;
  }

  .show {
    display: block;

    .reReplyWrap {
      margin: 0 60px;
      box-sizing: border-box;
      font-size: 18px;

      .reReplyList {
        display: flex;
        flex-direction: column-reverse;

        .Component {
          display: flex;
          align-items: center;
          margin: 5px 0;
          // padding: 20px 10px;
          background-color: rgba(0, 0, 0, 0.03);
          border-radius: 15px;
          font-size: 14px;

          .ReplyUser {
            width: 30px;
            height: 30px;
            margin: 0 10px 0 0;

            .UserPicture {
              width: 100%;
              height: 100%;
              border-radius: 50%;
            }
          }
        }
      }

      .reReplyForm {
        display: flex;
        justify-content: space-between;
        margin-top: 5px;
        height: 30px;

        .reReplyUser {
          width: 30px;
          margin-right: 10px;
          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }

        .reReplyText {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 625px;
          border: 1px solid rgba(0, 0, 0, 0.1);
          border-radius: 5px;

          input {
            width: 550px;
            margin: 10px 0 10px 10px;
            font-size: 16px;
          }
          button {
            color: rgb(64, 151, 246);
            padding-right: 15px;
            font-size: 14px;
            font-weight: 500;
          }
        }
      }
    }
  }
}
