.show {
  display: block;

  .reReplyWrap {
    margin: 0 60px;
    box-sizing: border-box;
    font-size: 18px;

    .reReplyList {
      display: flex;
      flex-direction: column-reverse;

      .Component {
        display: flex;
        align-items: center;
        margin: 5px 0;
        padding: 10px 10px;
        background-color: rgba(0, 0, 0, 0.03);
        border-radius: 15px;

        .ReplyUser {
          width: 30px;
          height: 30px;
          margin: 0 10px 0 0;

          .UserPicture {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
