.postingTop {
  padding: 20px 20px 0;
  margin: 0 auto -10px;
  text-align: left;
  // line-height: 1

  .logo {
    width: 30px;
  }

  .text {
    width: 70px;
    height: 25px;
    padding: 0 0 3px 3px;
  }
}

.container {
  margin: 40px 293px 0;

  .postingImg {
    font-size: 30px;
    margin-bottom: 40px;
    font-weight: 700;
    color: #000;
    letter-spacing: -0.4px;
  }

  .selectContainer {
    margin-bottom: 40px;

    .allSelect {
      margin-bottom: 0 -5px 30px;

      .selectLeft {
        width: 108px;
        margin-right: 10px;
        padding: 0 30px 0 15px;
        height: 42px;
        border: 1px solid #dbdbdb;
        font-size: 15px;
        line-height: 40px;
        border-radius: 4px;
        color: #c5c5c5;
      }

      .selectMiddle {
        width: 140px;
        margin-right: 10px;
        padding: 0 10px;
        height: 42px;
        border: 1px solid #dbdbdb;
        font-size: 15px;
        line-height: 40px;
        border-radius: 4px;
        color: #c5c5c5;
      }

      .selectRight {
        width: 153px;
        margin-right: 10px;
        padding: 0 10px;
        height: 42px;
        border: 1px solid #dbdbdb;
        font-size: 15px;
        line-height: 40px;
        border-radius: 4px;
        color: #c5c5c5;
      }
    }
  }

  .card {
    display: flex;

    .buttonPhoto {
      .addImg {
        width: 460px;
        height: 240px;
        border: none;
        border-radius: 8px;
        background-color: #f5f5f5;
        text-align: center;
        padding: 0 12px;
        margin: 0 3px;

        &:hover {
          cursor: pointer;
        }

        .content {
          img {
            width: 48px;
            margin: 0 0 10px;
            color: #dbdbdb;
          }

          .text {
            font-size: 15px;
            font-weight: 700;
            line-height: 20px;
            color: #757575;
            letter-spacing: 0.8px;
          }
        }
      }
    }

    .cardContent {
      padding: 0 12px;

      .topSelect {
        width: 460px;
        height: 40px;
        padding: 0 30px 0 15px;
        border: 1px solid #dbdbdb;
        font-size: 15px;
        line-height: 40px;
        border-radius: 4px;
        color: #c5c5c5;
      }

      .inputContent {
        margin-top: 13px;
        width: 430px;
        height: 40px;
        min-height: 120px;
        padding: 9px 15px;
        border: 1px solid #dbdbdb;
        font-size: 15px;
        line-height: 20px;
        border-radius: 4px;
        font-size: 15px;
        letter-spacing: -0.4px;

        &::placeholder {
          color: #c5c5c5;
        }
      }

      .keywordInput {
        position: relative;

        .keyword {
          font-size: 17px;
          margin: 9px 0;
          box-sizing: content-box;
          width: 44px;
          height: 25px;
          padding: 5px 8px 6px 20px;
          border: none;
          background-color: #f5f5f5;
          border-radius: 4px;
          font-family: inherit;

          &:focus {
            outline: none;
            // border: 3px solid red;
          }

          &::placeholder {
            color: #c5c5c5;
          }
        }

        &::after {
          content: "#";
          position: absolute;
          left: 7px;
          top: 18px;
          color: #858585;
        }
      }
    }
  }
  .urlInput {
    width: 440px;
    height: 40px;
    margin-top: 10px;
    border: 1px solid #dbdbdb;
    padding: 0 10px;
  }
}

.underBar {
  position: fixed;
  display: flex;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  padding: 10px 20px;
  background-color: #ffffff;
  border-top: 1px solid #dbdbdb;
  margin: 0;
  height: 50px;
  justify-content: space-between;

  .postButton {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 11px 30px;
    font-size: 17px;
    line-height: 26px;
    background-color: #35c5f0;
    border: #35c5f0;
    color: #fff;
    font-weight: 700;
    text-align: center;
    border-radius: 4px;

    &:hover {
      cursor: pointer;
    }
  }
}
