.selectBox {
  position: relative;

  .selectColorBox {
    width: 100%;
    height: 40px;
    padding: 0 15px;
    margin-bottom: 17px;
    border-color: RGB(55, 197, 239);
    border-radius: 4px;
    font-size: 15px;
    color: rgb(66, 66, 66);
    -webkit-appearance: none;

    &:focus {
      outline: none;
      border-color: RGB(55, 197, 239);
    }

    &:hover {
      background-color: rgb(247, 247, 247);
    }
  }

  .optionIconBox {
    position: absolute;
    top: 11px;
    right: 11px;
    width: 15px;

    .optionIcon {
      width: 100%;
    }
  }
}

.purchaseContainer {
  width: auto;
  height: auto;

  .purchaseEvenform {
    .calculationBox {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 23px 0;

      .calculationText {
        font-size: 14px;
        font-weight: 700;
      }

      .totalPrice {
        font-family: Tahoma, sans-serif;
        font-size: 20px;
        font-weight: 700;
      }
    }
    .purchaseButtonBox {
      display: flex;
      justify-content: space-between;
      margin-bottom: 50px;

      .cart {
        width: 225px;
        height: 50px;
        color: RGB(55, 197, 239);
        background-color: white;
        border: 1px solid RGB(55, 197, 239);
        border-radius: 4px;
        font-size: 17px;
        font-weight: 700;
      }

      .purchase {
        width: 225px;
        height: 50px;
        color: white;
        background-color: RGB(55, 197, 239);
        border: 1px solid RGB(55, 197, 239);
        border-radius: 4px;
        font-size: 17px;
        font-weight: 700;
      }
    }
  }
}
