.Mypage {
  .userProfile {
    margin-top: 20px;
    padding: 30px 25px 0;
    border-radius: 4px;
    border: 1px solid #dadce0;
    box-shadow: 0 2px 4px 0 rgba(63, 71, 77, 0.06);

    .userProfileContainer {
      margin: 0 0 20px;

      img {
        margin: 0 0 24px;
      }
    }
  }
}
