.heart,
.comment {
  font-size: 25px;
}
.clickedHeart {
  font-size: 25px;
  color: rgb(10, 172, 218);
}

.bookmark {
  font-size: 30px;
}

.clickedBookmark {
  font-size: 30px;
  color: rgb(10, 172, 218);
}
