.NavigationBar {
  display: flex;
  justify-content: center;
  width: 100%;

  .navBackgruond {
    position: fixed;
    width: 100%;
    height: 130px;
    background-color: white;
    z-index: 50;

    .NavigationBar {
      // display: flex;
      justify-content: center;
      box-sizing: border-box;
      position: relative;
      background-color: #ffffff;

      .Nav {
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        width: 1255px;
        height: 80px;
        padding: 0 60px 0 60px;

        .categoriesBox {
          display: flex;
          justify-content: space-between;
          height: 100%;

          .logoIcon {
            display: flex;
            align-items: center;
            width: 80px;

            img {
              width: 100%;

              &:hover {
                cursor: pointer;
              }
            }
          }

          .categories {
            display: flex;
            justify-content: center;
            width: 330px;
            height: 100%;
            font-size: 18.5px;
            margin: 0 0 0 30px;
            line-height: 26px;
            text-decoration: none;
            color: #4b4b4b;

            .category {
              margin-top: 7px;
              margin-right: 25px;
              margin-left: 10px;
              font-weight: 700;
              color: rgb(56, 56, 56);
              background-color: rgba($color: #000000, $alpha: 0);
              text-decoration: none;

              &:visited {
                text-decoration: none;
                color: #4b4b4b;
              }

              &:hover {
                cursor: pointer;
                color: #35c4f0;
              }
            }
          }

          .store {
            padding: 15px;

            &:hover {
              color: #35c4f0;
            }
          }

          .interior {
            padding: 15px;

            &:hover {
              color: #35c4f0;
            }
          }
        }
        .managementBox {
          display: flex;
          width: auto;
          margin-top: 7px;
          .searchBar {
            position: relative;

            input {
              width: 265px;
              display: block;
              padding: 8px 9px 10px 39px;
              font-size: 15px;
              line-height: 20px;
              background-color: #fff;
              border: 1px solid #dbdbdb;
              border-radius: 4px;

              &:focus {
                outline: none;
              }

              &::placeholder {
                color: lightgray;
              }
            }

            img {
              position: absolute;
              top: 10px;
              left: 8px;
              width: 18px;
              height: 18px;
              color: lightgray;
            }
          }

          .management {
            display: flex;
            width: auto;
            margin-left: 10px;

            .cart {
              img {
                width: 36px;
                height: 36px;
                padding: 6px;
                color: lightgray;

                &:hover {
                  cursor: pointer;
                }
              }
            }

            .mypage {
              img {
                width: 36px;
                height: 36px;
                padding: 3px;
                color: lightgray;
                border-radius: 100%;

                &:hover {
                  cursor: pointer;
                }
              }
            }

            .enterPage {
              display: flex;
              justify-content: space-around;
              align-items: center;
              width: 130px;

              .navLogin,
              .navSignup {
                color: #757575;
                font-size: 16px;
                font-weight: 700;
                line-height: 20px;

                &:hover {
                  cursor: pointer;
                  color: #35c4f0;
                }
              }
            }

            .button {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 95px;
              margin: 0 0 0 20px;
              border-radius: 4px;
              background-color: #35c4f0;
              color: #fff;
              font-size: 16px;
              font-weight: 700;
              text-align: center;
              line-height: 22px;
              transition: background-color 0.1s;
              box-sizing: border-box;

              &:hover {
                background-color: #07acdb;
                cursor: pointer;
              }

              .showIconBox {
                width: 10px;
                margin-left: 10px;

                .showIcon {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}
.navBarBorder {
  width: 100%;
}

.subNav {
  position: fixed;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 80px;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid #ededed;
  border-top: 1px solid #ededed;
  background-color: white;

  .store {
    display: none;
  }

  .firstCategory {
    display: flex;
    align-items: center;
    width: 1255px;
    height: 50px;
    padding: 0 60px;
    display: flex;
    flex-direction: flex-start;

    .subNavContent {
      display: flex;
      align-items: center;
      padding: 0 7px 0 7px;
      height: 40px;
      margin-right: 10px;
      text-decoration: none;
      font-weight: 700;

      &:visited {
        text-decoration: none;
        color: #4b4b4b;
      }

      &:hover {
        cursor: pointer;
        color: #35c4f0;
      }
    }
  }

  .secondCategory {
    width: 1255px;
    padding: 0 60px;
    display: flex;
    flex-direction: flex-start;

    .subNavContent {
      padding: 15px 10px 10px;
      margin-right: 10px;
      text-decoration: none;
      font-weight: 700;

      &:visited {
        text-decoration: none;
        color: #4b4b4b;
      }

      &:hover {
        cursor: pointer;
        color: #35c4f0;
      }
    }
  }
}
