.overview {
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;

  .overviewBox {
    width: 1136px;
    height: auto;
    margin: 23px;

    .category {
      width: 1136px;
      height: 18px;
      color: gray;
      font-size: 15px;
    }
    .overviewCover {
      display: flex;
      margin: 38px 0 0 0;

      .coverImagesBox {
        display: flex;
        width: 663px;
        height: 560px;
        margin-right: 50px;

        .coverImageListBox {
          width: 56px;

          .coverImageBox {
            width: 56px;
            height: 56px;
            margin-bottom: 9px;
            outline: none;

            .miniCoverImage {
              width: 100%;
              height: 100%;
              border-radius: 5px;
              cursor: pointer;
            }

            &:hover {
              border: 2px solid RGB(55, 197, 239);
              border-radius: 5px;
            }
          }
        }

        .coverImageWrap {
          width: 560px;
          height: 560px;
          margin-left: 10px;
          border-radius: 10px;
          overflow: hidden;

          .coverImage {
            position: relative;
            top: -30px;
            width: 100%;
          }
        }
      }

      .overViewList {
        display: flex;
        flex-direction: column;
        width: 100%;

        .seller {
          margin-bottom: 10px;
          color: RGB(55, 197, 239);
          font-size: 15px;
          font-weight: 700;
        }

        .title {
          font-size: 27px;
          line-height: 34px;
          font-weight: 400;
        }

        .spaceReviewBox {
          .reviewBox {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .reviewScore {
              display: flex;
              align-items: center;
              .scoreBox {
                width: 90px;
                margin-right: 10px;
                .scoreImage {
                  width: 100%;
                }
              }
              .reviewCount {
                font-size: 13px;
                font-weight: 700;
                color: RGB(55, 197, 239);
              }
            }
            .scrapBox {
              display: flex;

              .bookMarkBox {
                display: flex;
                justify-content: center;
                position: relative;
                width: 26px;
                margin: 3px 17px 0 0;

                .bookmarkImage {
                  position: absolute;
                  width: 100%;
                }
                .bookmarkCount {
                  position: absolute;
                  top: 35px;
                  color: gray;
                  font-size: 12px;
                }
              }

              .shareBox {
                display: flex;
                justify-content: center;
                position: relative;
                width: 26px;
                margin: 3px 5px 0 0;

                .shareImage {
                  position: absolute;
                  width: 100%;
                }
                .shareCount {
                  position: absolute;
                  top: 35px;
                  font-size: 12px;
                  color: gray;
                }
              }
            }
          }
        }
        .priceBox {
          margin: 17px 0 0 0;

          .priceBar {
            display: flex;
            align-items: flex-end;
            width: auto;
            height: auto;
            margin-bottom: 5px;
            font-family: Tahoma, sans-serif;

            .sale {
              display: flex;
              align-items: flex-end;
              margin-right: 10px;

              .salePercent {
                font-size: 44px;
                font-weight: 900;
                color: RGB(55, 197, 239);
              }
              .percent {
                font-size: 20px;
                font-weight: 400;
                color: RGB(55, 197, 239);
              }
            }
            .price {
              .prevPrice {
                display: flex;
                font-size: 15px;
                color: gray;
              }
              .currentPriceBox {
                display: flex;
                font-size: 32px;
                font-weight: 900;

                .won {
                  margin-right: 7px;
                  font-weight: 400;
                }
              }
            }
            .lowestPrice {
              width: 38px;

              .lowestPriceImage {
                width: 100%;
              }
            }
          }

          .couponPrice {
            display: flex;
            align-items: flex-end;
            width: auto;
            margin: 0 0 0 75px;
            color: RGB(55, 197, 239);
            font-family: Tahoma, sans-serif;
            font-size: 32px;
            font-weight: 900;

            .won {
              margin-right: 7px;
              font-weight: 400;
            }

            .earlybirdSalePriceView {
              font-size: 14px;
              font-weight: 500;
            }
          }

          .reserveBox {
            font-size: 14px;
            padding: 19px 0;
            color: #757575;
            border-bottom: 1px solid #dfdfdf;
            .reserveText {
              margin-bottom: 3px;
              .reservePoint {
                color: RGB(55, 197, 239);
                font-weight: 700;
              }
            }
            .reserveAddPoint,
            .interestFreePoint {
              display: flex;
              align-items: flex-end;
              height: 19px;

              .gold {
                width: 15px;
                margin-right: 3px;
              }
            }
          }
          .deliveryInfoBox {
            height: 130px;
            padding: 19px 0;
            border-bottom: 1px solid #dfdfdf;
            .deliveryInfo {
              display: flex;
              margin-bottom: 6px;
              color: #575757;

              .line {
                margin: 0 4px;
                font-size: 15px;
                color: #c9c9c9;
              }
            }

            .deliveryStickyBox {
              width: 53px;
              margin-bottom: 15px;

              .deliverySticky {
                width: 100%;
              }
            }

            .precautions {
              font-size: 13px;
              color: gray;

              .precautionsList {
                margin-bottom: 5px;
              }
            }
          }
          .brandHome {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            padding: 16px 0;

            .brandIconBox {
              width: 16px;
              margin-right: 5px;

              .brandHomeIcon {
                width: 100%;
              }
            }
            .brandName {
              color: RGB(55, 197, 239);
            }
          }
          .selectBox {
            position: relative;

            .selectColorBox {
              width: 100%;
              height: 40px;
              padding: 0 15px;
              margin-bottom: 17px;
              border-color: RGB(55, 197, 239);
              border-radius: 4px;
              font-size: 15px;
              color: rgb(66, 66, 66);
              -webkit-appearance: none;

              &:focus {
                outline: none;
                border-color: RGB(55, 197, 239);
              }

              &:hover {
                background-color: rgb(247, 247, 247);
              }
            }

            .selectOptionBox {
              width: 100%;
              height: 40px;
              padding: 0 15px;
              margin-bottom: 17px;
              border-color: RGB(55, 197, 239);
              border-radius: 4px;
              font-size: 15px;
              color: rgb(66, 66, 66);
              -webkit-appearance: none;

              &:focus {
                outline: none;
                border-color: RGB(55, 197, 239);
              }

              &:hover {
                background-color: rgb(247, 247, 247);
              }
            }

            .optionIconBox {
              position: absolute;
              top: 11px;
              right: 11px;
              width: 15px;

              .optionIcon {
                width: 100%;
              }
            }

            .optionIconBox2 {
              position: absolute;
              top: 69px;
              right: 11px;
              width: 15px;

              .optionIcon2 {
                width: 100%;
              }
            }
          }

          .purchaseContainer {
            width: auto;
            height: auto;

            .purchaseEvenform {
              .calculationBox {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 23px 0;

                .calculationText {
                  font-size: 14px;
                  font-weight: 700;
                }

                .totalPrice {
                  font-family: Tahoma, sans-serif;
                  font-size: 20px;
                  font-weight: 700;
                }
              }
              .purchaseButtonBox {
                display: flex;
                justify-content: space-between;
                margin-bottom: 50px;

                .bookmarkBox {
                  display: none;
                }

                .unBookmarkBox {
                  display: none;
                }

                .cart {
                  width: 225px;
                  height: 50px;
                  color: RGB(55, 197, 239);
                  background-color: white;
                  border: 1px solid RGB(55, 197, 239);
                  border-radius: 4px;
                  font-size: 17px;
                  font-weight: 700;
                }

                .purchase {
                  width: 225px;
                  height: 50px;
                  color: white;
                  background-color: RGB(55, 197, 239);
                  border: 1px solid RGB(55, 197, 239);
                  border-radius: 4px;
                  font-size: 17px;
                  font-weight: 700;
                }
              }
            }
          }
        }
      }
    }
  }
}

.menuTab {
  width: 100%;
  height: 100%;

  .menuTabContainer {
    position: sticky;
    top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(247, 247, 247);
    border: 1px solid rgb(228, 228, 228);
    z-index: 9;

    .flexmenuTabContainer {
      display: flex;
      justify-content: flex-start;
      width: 1255px;
      padding: 0px 60px;

      .productInfo,
      .review,
      .question,
      .delivery,
      .recommant {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 152px;
        height: 52px;
        font-weight: 500;

        &:hover {
          color: RGB(55, 197, 239);
          cursor: pointer;
        }

        &:focus {
          color: RGB(55, 197, 239);
          border-bottom: 2px solid RGB(55, 197, 239);
          cursor: pointer;
        }
      }
    }
  }

  .smallSelectOptionContainer {
    display: flex;
    justify-content: center;

    .feedContainer {
      display: flex;
      flex-direction: column;
      align-items: center;

      .feedTitleBox {
        width: 680px;

        .feedTitle {
          font-size: 18px;
          font-weight: 700;
          margin: 70px 0 20px 0;
        }
      }

      .userPostContainer {
        display: flex;
        flex-direction: column;
        width: 680px;
        height: 580px;

        .feedBox {
          width: 600px;
          height: 600px;
          border-radius: 10px;
          overflow: hidden;

          .feed {
            width: 100%;
            margin: 4px;
            border-radius: 10px;
          }
        }
      }

      .feedTextContainer {
        width: 680px;
        margin-top: 50px;

        .feedTextTop {
          font-size: 18px;
          font-weight: 700;
          margin: 50px 0px 20px 0;
        }

        .feedText {
          display: flex;
          align-items: center;
          font-size: 15px;
          font-weight: 300;
          height: 25px;
        }
      }
    }
    .menuTabViewContainer {
      width: 760px;
      height: auto;
      padding: 40px 40px 0 40px;
    }
    .selectOptionContainer {
      .stickyContainer {
        position: sticky;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        top: 143px;
        width: 375px;
        height: 750px;
        padding: 30px 40px 0 40px;
        margin-bottom: 30px;

        .flexSelectBox {
          .selectBox {
            position: relative;

            .selectColorBox {
              width: 100%;
              height: 40px;
              padding: 0 15px;
              margin-bottom: 17px;
              border-color: RGB(55, 197, 239);
              border-radius: 4px;
              font-size: 15px;
              color: rgb(66, 66, 66);
              -webkit-appearance: none;

              &:focus {
                outline: none;
                border-color: RGB(55, 197, 239);
              }

              &:hover {
                background-color: rgb(247, 247, 247);
              }
            }

            .selectOptionBox {
              width: 100%;
              height: 40px;
              padding: 0 15px;
              margin-bottom: 17px;
              border-color: RGB(55, 197, 239);
              border-radius: 4px;
              font-size: 15px;
              color: rgb(66, 66, 66);
              -webkit-appearance: none;

              &:focus {
                outline: none;
                border-color: RGB(55, 197, 239);
              }

              &:hover {
                background-color: rgb(247, 247, 247);
              }
            }

            .optionIconBox {
              position: absolute;
              top: 11px;
              right: 11px;
              width: 15px;

              .optionIcon {
                width: 100%;
              }
            }
            .optionIconBox2 {
              position: absolute;
              top: 69px;
              right: 11px;
              width: 15px;

              .optionIcon2 {
                width: 100%;
              }
            }
          }
        }
        .purchaseContainer {
          width: auto;
          height: auto;

          .purchaseEvenform {
            .calculationBox {
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin: 23px 0;

              .calculationText {
                font-size: 14px;
                font-weight: 700;
              }

              .totalPrice {
                font-family: Tahoma, sans-serif;
                font-size: 20px;
                font-weight: 700;
              }
            }
            .purchaseButtonBox {
              display: flex;
              justify-content: space-between;

              .bookmarkBox {
                width: 80px;
                border: 1px solid rgb(224, 224, 224);
                border-radius: 4px;
                margin-right: 5px;

                .bookmark {
                  width: 50%;
                }
              }

              .bookmarkBox:hover {
                background-color: rgb(219, 219, 219);
              }

              .cart {
                width: 205px;
                height: 50px;
                margin-right: 5px;
                color: RGB(55, 197, 239);
                background-color: white;
                border: 1px solid RGB(55, 197, 239);
                border-radius: 4px;
                font-size: 17px;
                font-weight: 700;
              }

              .purchase {
                width: 205px;
                height: 50px;
                color: white;
                background-color: RGB(55, 197, 239);
                border: 1px solid RGB(55, 197, 239);
                border-radius: 4px;
                font-size: 17px;
                font-weight: 700;
              }
            }
          }
        }
      }
    }
  }
}

.linkReset {
  text-decoration: none;
  &:focus,
  &:hover,
  &:visited,
  &:link,
  &:active {
    text-decoration: none;
  }
}
