.overview {
  display: flex;
  justify-content: center;
  width: auto;
  height: 1000px;

  .overviewBox {
    width: 1136px;
    height: auto;
    margin: 20px;

    .category {
      width: 1136px;
      height: 18px;
    }
    .overviewCover {
      display: flex;
      margin: 40px 0 0 0;

      .coverImageBox {
        display: flex;
        width: 663px;
        height: 560px;

        .coverImageListBox {
          width: 56px;
        }

        .coverImageWrap {
          width: 560px;
          height: 560px;
          margin-left: 10px;
          border: 1px solid red;
          border-radius: 10px;
        }
      }

      .overViewList {
        display: flex;
        flex-direction: column;
        width: 475px;
        height: 100%;
      }
    }
  }
}
