.randomProductContainer {
  cursor: pointer;
  .randomProductImageBox {
    width: 153px;
    height: 153px;
    margin: 10px;
    border-radius: 5px;
    overflow: hidden;

    .randomProductImage {
      width: 115%;
      height: 100%;
      position: relabative;
      right: 50px;
      top: 10px;
      transform: scale(1);
      -webkit-transform: scale(1);
      transition: all 0.2s ease-in-out;
      overflow: hidden;
    }
    .randomProductImage:hover {
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
    }
  }

  .randomProductSummeryBox {
    padding: 0 10px 0 10px;
    margin: 10px 0 10px 0;

    .randomProductSeller {
      font-size: 11px;
      color: #757575;
      margin: 15px 0 5px 0;
    }

    .randomProductTitle {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      width: 153px;
      height: auto;
      margin-bottom: 5px;
      font-size: 14px;
      line-height: 18px;
    }

    .randomProductTitle:hover {
      color: gray;
    }

    .randomProductPriceBox {
      display: flex;
      font-size: 17px;
      margin-bottom: 5px;

      .randomProductSale {
        font-weight: 700;
        color: #35c5f0;
        margin-right: 6px;
      }

      .randomProductPrice {
        font-weight: 700;
      }
    }

    .randomProductPointBox {
      display: flex;
      align-items: flex-end;

      .randomProductPoint {
        display: flex;
        align-items: flex-end;
        font-size: 13px;
        font-weight: 600;
        color: #161616;

        .randomProductPointImage {
          width: 15px;
          margin-right: 3px;
        }
      }
      .randomProductReview {
        font-size: 13px;
        font-weight: 600;
        color: rgb(138, 138, 138);
        margin-left: 5px;
      }
    }
    .randomProductLabelBox {
      display: flex;
      align-items: center;
      margin-top: 5px;
      .randomProductFreeIcon {
        height: 19px;
        margin-right: 5px;
      }

      .randomProductLowPriceIcon {
        height: 19px;
      }
    }
  }
}
